*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

body {
 background-color: #1d1f21;
 color: #c9cacc;
 font-family: monospace;
}

h1 {
 color: #2bbc8a;
 font-size: 3em;
 border-top: 4px solid
}

h2 {
 color: #2bbc8a;
 font-size: 25px;
}

h4 {
 color: #ccc;
 font-size: 0.85rem;
 
}

.primary-nav {
 font-size: 14px;
 font-weight: 400;
 letter-spacing: .5px;
 text-transform: uppercase;
}

.nav {
 text-align: right;
}
.nav li {
 display: inline-block;
 margin: 0 10px;
 vertical-align: top;
}
.nav li:last-child {
 margin-right: 0;
}